body {
    font-family: system-ui, -apple-system, "Microsoft YaHei", Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif !important;
    background-color: #778899;
    margin: 0;
}

.question {
    color: #fffccc;
    font-size: 1em;
    font-family: monospace;
}

.answer {
    color: #000000;
    font-size: 1em;
    background-color: #F5F5F5;
}

.errormessage {
    color: #B32142;
}

#chatbox {
    overflow-y: auto;
    box-sizing: border-box;
}

.send-btn {
    right: 10px;
    opacity: 0.4;
    position: absolute;
    bottom: 25px;
}

.voice-btn {
    left: 10px;
    opacity: 0.4;
    position: absolute;
    bottom: 25px;
}

.loading-text {
    color: #ccc;
    margin: 0;
    font: .8em verdana;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #aaffee;
    border-radius: .6em;
    animation: loading 1s infinite alternate;
}

.loading span:nth-of-type(2) {
    background: #aaffee;
    animation-delay: 0.2s;
}

.loading span:nth-of-type(3) {
    background: #aaffee;
    animation-delay: 0.4s;
}

.loading span:nth-of-type(4) {
    background: #aaffee;
    animation-delay: 0.6s;
}

.loading span:nth-of-type(5) {
    background: #aaffee;
    animation-delay: 0.8s;
}

.loading span:nth-of-type(6) {
    background: #aaffee;
    animation-delay: 1.0s;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 侧边栏样式 */
#sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #556677;
    transition: left 0.5s ease-in-out;
    display: block;
    z-index: 1001
}

/* 箭头样式 */
#arrow {
    opacity: 0.1;
    display: block;
    font-size: 40px;
    position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: left 0.5s ease-in-out;
    z-index: 1002;
}

/* 添加样式 */
.content {
    margin-top: 50px;
    padding-left: 10px;
}

/* switch 样式 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #778899;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sider-input-wrapper {
    position: relative;
}

.sider-input {
    box-sizing: border-box;
    display: block;
    width: 90%;
    padding: 10px 36px 10px 10px;
    /* 上右下左 */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
}



.btnGenericText {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: #24252d;
    border-style: solid;
    border-color: #5c5d70;
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
    color: white;
}

.btnGenericText:hover {
    box-shadow: 0px 0px 10px white;
}

.btnGenericText:active {
    box-shadow: 1px 1px 4px white, -1px 1px 4px white, 1px -1px 4px white, -1px -1px 4px white;
}

button:focus {
    outline: 0 !important;
}

.selector {
    width: 80%;
    height: 90%;
    position: absolute;
    left: 10%;
    background-color: #5c5d70;
    overflow-y: auto;
    padding: 10px;
    border-radius: 3px;
}

.thumbbutton {
    cursor: pointer;
    height: 101px;
    width: 180px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;
}