@charset "utf-8";

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset
}

::selection {
    background: #444;
    color: #fff
}

::-moz-selection {
    background: #444;
    color: #fff
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

body,
button,
input,
select,
textarea {
    color: #404040;
    font-size: 15px;
    line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both
}

blockquote {
    margin: 0;
    padding: 30px 60px;
    position: relative
}

blockquote:before {
    content: "\f10d" !important;
    font-size: 3rem;
    position: absolute;
    top: -25px;
    left: 12px;
    color: orange;
    font-family: FontAwesome
}

blockquote:after {
    content: '\f10e' !important;
    font-size: 3rem;
    position: absolute;
    bottom: -25px;
    right: -5px;
    color: orange;
    font-family: FontAwesome
}

blockquote p {
    margin: 5px 0
}

address {
    margin: 0 0 1.5em
}

pre {
    background: rgba(254, 250, 199, .5);
    border-radius: 10px;
    font: 15px/22px "Microsoft YaHei", Arial, Sans-Serif;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    text-shadow: none;
    color: #000
}

code,
kbd,
tt,
var {
    font-size: 15px;
    font-size: .9375rem
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

.site-header {
    width: 100%;
    height: 75px;
    background: 0 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: fixed;
    z-index: 9999;
    top: 0
}

#mo-nav {
    display: none
}

.site-top .lower {
    position: relative;
    display: inline-block;
    float: right;
    margin: 15px 0 0 0;
    font-size: 16px
}

@media (max-width:860px) {
    .site-top .lower nav ul li .animated-hover i {
        display: inline
    }
}

.site-top .lower nav {
    position: relative;
    float: right;
    display: none;
    animation: searchbox .2s
}

.site-top .lower nav.navbar {
    display: block
}


.m-nav {
    display: none
}

.site-top ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block
}

.site-top ul li {
    float: left;
    margin-left: 28px;
    position: relative;
    -webkit-transition: all 1s ease
}

.site-top ul li a {
    padding: 10px 0;
    display: inline-block;
    color: #666
}

.site-top ul li a:hover {
    color: orange
}

.site-top ul li a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    height: 6px;
    background-color: #FE9600;
    width: 100%;
    max-width: 0;
    transition: max-width .25s ease-in-out
}

.site-top ul li ul li a:after {
    content: "";
    display: none;
    position: absolute;
    bottom: -21px;
    height: 6px;
    background-color: #FE9600;
    width: 100%;
    max-width: 0;
    transition: max-width .25s ease-in-out
}

.site-top ul li a:hover:after {
    max-width: 100%
}

@media(max-width:1200px) {
    .site-top .lower nav {
        right: calc(-150px - 100%);
        position: absolute;
        float: right;
        animation: searchbox .2s;
        min-width: 860px;
        z-index: -1
    }

    .site-top .lower nav.navbar {
        right: calc(-50px - 100%);
    }

    .site-top .lower nav.navbar ul {
        background: #fff;
    }
}

#show-nav {
    position: relative;
    float: right;
    margin-left: 20px;
    display: block;
    width: 30px;
    height: 33px;
    margin-top: 4.5px;
    cursor: pointer;
    z-index: 999
}

#show-nav .line {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 28px;
    margin-left: -15px;
    height: 2px;
    background: #666;
    -webkit-transition: all .2s ease
}

#show-nav.showNav .line1 {
    top: 16px
}

#show-nav.showNav .line3 {
    top: 25px
}

#show-nav.hideNav .line1 {
    top: 16px;
    -webkit-transform: rotateZ(45deg)
}

#show-nav.hideNav .line2 {
    opacity: 0
}

#show-nav.hideNav .line3 {
    top: 16px;
    -webkit-transform: rotateZ(-45deg)
}

.lower li ul {
    display: none;
    opacity: 1;
    position: absolute;
    background: #fff;
    padding: 10px;
    top: 46px;
    right: -13px;
    min-width: 80px;
    text-align: center;
    white-space: nowrap;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
    -webkit-animation: fadeInUp .3s .1s ease both;
    -moz-animation: fadeInUp .3s .1s ease both
}

.lower li ul::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(10px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

.lower li:hover ul {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s
}

.lower li ul li {
    width: 100%;
    margin: 0
}

.site-top .menu-item-has-children li a {
    font-size: 14px;
    padding: 8px 18px;
    text-transform: none;
    color: #545454
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none
}

.infinity-end.neverending .site-footer {
    display: block
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee
}

#mo-nav::-webkit-scrollbar {
    width: 0;
    opacity: 0
}

::-webkit-scrollbar-track {
    background-color: #eee
}

::-webkit-scrollbar-thumb {
    background-color: #69d2e7
}

.header-user-avatar {
    position: relative;
    float: right;
    margin-left: 10px;
    margin-top: 6px;
    margin-right: 10px;
}

.header-user-avatar img {
    border-radius: 100%;
    cursor: pointer
}

.header-user-avatar:hover .header-user-menu {
    display: block;
    background: #fff;
}

.header-user-menu {
    position: absolute;
    width: 110px;
    right: -11px;
    text-align: left;
    background: 0 0;
    top: 44px;
    display: none;
    overflow: hidden;
    animation: header-user-menu .4s;
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
    border-radius: 5px;
    text-align: center
}

.header-user-menu::before {
    content: "";
    position: fixed;
    top: 46px;
    right: 25px;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent
}

.herder-user-name {
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 4px 4px 0 0
}

.herder-user-name-u {
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap
}

.header-user-menu .user-menu-option {
    padding: 5px 0;
    border-radius: 0 0 4px 4px;
    width: 130px
}

.header-user-menu a {
    display: block;
    padding: 6px 10px;
    margin: 2px 0;
    width: 110px;
    text-align: left;
    color: #333;
    font-size: 13px;
    text-align: center
}

.user-menu-option a:hover {
    background-color: #f1f1f1
}

body.dark .user-menu-option a:hover {
    color: #3daee9;
    background-color: #232629
}

.no-logged {
    font-size: 13px;
    padding: 15px 10px;
    border-radius: 4px;
    border: 0
}

.no-logged a {
    display: initial;
    color: #69d2e7 !important;
    font-size: 14px;
    padding: 0 5px;
    text-decoration: underline
}

@keyframes header-user-menu {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}